/*original image, resized*/

body {
    background-image: url(./assets/images/greyfloral.png);
    padding-top: 3px;
    padding-bottom: 3px;
    /*width: 960px;*/
    margin-left: auto;
    margin-right: auto;
}

.menu {
    float: right;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    border-left: solid;
}

myName {
    float: left;
    width: 275px;
    color: lightcyan;
    font-size: 25px;
    background-color: rgb(9, 128, 128);
    height: 47px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 125px;
    text-align: center;
}

.headText {
    vertical-align: bottom;
    font-size: 28px;
}

.about {
    width: 150px;
}

.mainpara {
    background-color: whitesmoke;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(227, 227, 227, 0.884);
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

img {
    height: 175px;
    width: auto;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin-top: 0px;
    padding-left: 10px;
    margin-bottom: 35px;
    height: 53px;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(9, 128, 128);
}

h2 {
    border-bottom: 1px solid #3b37379d;
    padding-bottom: 20px;
}

/*removed bullet points below*/
.nav{
    width: 100%;
    margin-top: .5em;
    margin-right: 1em;
}

nav a:visited {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    text-decoration: none;
    color: #000;
    border: 1px dotted rgb(9, 128, 128);
    border-radius: 15px;
}
/* holds all cards */

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 600px;
}

/* spacing between cards */

.card {
    /* border: 2px solid black; */
    padding: 10px;
}

/* banner across card */

.card-title {
    background-color: rgba(9, 128, 128, .75);
    color: whitesmoke;
    height: 35px;
    position: relative;
    margin-top: 110px;
    line-height: 30px;
}

/* text within card banner */

.card-text {
    text-align: center;
}


/* images of cards 1-5 */

.header1 {
    background-color: rgb(9, 128, 128);
    background-image: url(./assets/images/travel.jpg);
    height: 150px;
    width: 200px;
    position: relative;
    margin: 15px;
}

.header2 {
    background-image: url(./assets/images/creative.jpg);
    height: 150px;
    width: 200px;
    position: relative;
    margin: 15px;
}

.header3 {
    background-image: url(./assets/images/data.jpg);
    height: 150px;
    width: 200px;
    position: relative;
    margin: 15px;
}

.header4 {
    background-image: url(./assets/images/recipe.jpeg);
    height: 150px;
    width: 200px;
    position: relative;
    margin: 15px;
}

.header5 {
    background-image: url(./assets/images/teach.jpg);
    height: 150px;
    width: 200px;
    position: relative;
    margin: 15px;
}

/* rounds edge of border */

.card:hover {
    border-radius: 15px;
    border: .5px solid rgb(9, 128, 128);
}

h4 {
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
}

.footer {
    background-color: rgba(96, 128, 128, .7);
    border-top: 2px solid #454545;
    width: 100%;
    position: relative;
    bottom: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.img-fluid {
    height: 200px;
    width: auto;
}

.head-text {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 640px){
    .mainpara{
        width: 100%;
    }
    h4{
        font-size: 16px;
    }
    .card-container{
        padding: 0;
    }
}

@media screen and (max-width: 768px){
    .mainpara{
        width: 100%;
    }
}

@media screen and (max-width: 960px){
    .mainpara{
        width: 100%;
    }
}

.navbar-collapse{
    justify-content: flex-end;
}